<!DOCTYPE html>
<html>
    <head>
        <title>Ma première app Vue</title>
    </head>
    <body>
        <div id="app">
            <h1>
                {{ message }}
            </h1>
            <div v-for="item in shoppingCart">
                <p v-if="item.cost > 0"> {{ item.name }} : {{ item.cost }}€ </p>
            </div>
            <div v-if="totalAmount > 0">
                Total price : {{ totalAmount }}€
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            const app = new Vue({
                el: '#app',
                data: { 
                    message: 'Store',
                    shoppingCart : [
                        {
                            name: 'Apple',
                            cost: 3
                        },
                        {
                            name: 'Banana',
                            cost: 3
                        },
                        {
                            name: 'Coconuts',
                            cost: 3
                        }
                    ] 
                },
                computed: {
                    totalAmount() {
                        let totalPrice = 0;
                        this.shoppingCart.forEach(element => {
                            totalPrice += element.cost
                        });
                        return totalPrice;
                    }
                }
            })
        </script>
    </body>
</html>